/* 공통 스타일 */
a{
  color: black;
  text-decoration: none;
}
h2{
  font-size: 16px;
  font-weight: 700;
}
.inner{
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
/* 애니메이션 */
.back-to-position{
  opacity: 0;
  transition-duration: 2s;
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
/* 층별 안내 */
.guide_main .guide-group{
  position: relative;
  width: 1000px;
  height: 700px;
  overflow: hidden;
  border: 2px solid #000;
  background-color: #fff;
  right: 130px;
  bottom: 50px;
  position: absolute;
  display: none;
}

.guide_main .guide-group img{
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 600px;
  object-fit: cover;
}
.icons-group > .material-icons{
  font-size: 100px;
  color: #fff;
  cursor: pointer;
}
.icons-group{
  position: absolute;
  left: 50px;
}
.guide_main .guide-group.active{
  display: block;
}
.guide_main .guide-group.hide{
  display: none;
}

/* 해더 */
header{
  width: 100%;
  height: 150px;
  background-color: #fff;
  transition: height .3s;

  position: fixed;
  z-index: 2;
}
header .title_logo{
  text-align: center;
  padding : 10px 0;
}
header .main-menu {
  width: 100%;
  display: flex;
  justify-content: center;

}
header .main-menu .item .item__name {
  padding: 5px 0;
  margin: 0 35px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}
header .main-menu .item:hover .item__name {
  font-weight: 700;
  border-bottom: 2px solid black;
}
header nav .inner{
  display: flex;
}
header .main-menu .item .item__contents {
  background-color: #fff;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  display: none;
}
header .main-menu .item:hover > .item__contents {
display: block;
}
header .main-menu .item .item__contents > ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
header .main-menu .item .item__contents > ul > li {
  width: 1200px;
}
header .main-menu .item .item__contents > ul > li h2 {
  padding-bottom: 10px;
  font-size: 18px;
  color: #000;
}
header .main-menu .item .item__contents > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #c2c2c2;
  cursor: pointer;
}
header .main-menu .item .item__contents > ul > li ul li:hover {
  font-weight: 700;
  color: #000;
}

/* 슬라이드 */
.promotion {
  padding-top: 150px;
  width: 100%;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: height .4s;
  align-items: center;
  justify-content: center;
}
.promotion.hide {
  height: 0;
}
.promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  text-align: center;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion img{
  width: 1910px;
  height: 800px;
  object-fit: cover;
}

/* 층 안내 */
.guide .inner{
  padding: 200px 0;
}
.guide img{
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.guide .guide_main{
  position: relative;
}
.guide .one-icons{
  bottom: 50px;
}
.guide .two-icons{
  bottom : 200px;
}
.guide .thr-icons{
  bottom : 350px;
}
.guide .fou-icons{
  bottom : 500px;
}
.guide .five-icons{
  bottom : 650px;
}

/* 브랜드 광고 */
.shop .inner{
  width: 100%;
  display: flex;
  z-index: -2;
  justify-content: space-evenly;
  margin-top: 100px;
}
.shop .left_item{
  position: relative;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop .left_item .img1, .img4, .img5, .img8, .img9{
  width: 350px;
  height: 400px;
  object-fit: cover;
}
.shop .left_item .img2, .img3, .img6, .img7, .img10{
  width: 350px;
  height: 350px;
  border-radius: 170px;
  object-fit: cover;
}
.shop .left_item li:nth-child(even){
  margin-top: 200px;
}
.shop .rigth_item{
  position: relative;
  height: 3000px;
}
.shop .rigth_item li{
  position: sticky;
  height: 850px;
  top: 230px;
}
.shop .rigth_item img{
  width: 500px;
  height: 800px;
  object-fit: cover;
}


footer .inner{
  width: 100%;
  height: 300px;
  background-color:aqua;
}