/* 공통 스타일 */
a{
  color: black;
  text-decoration: none;
}
h2{
  font-size: 16px;
  font-weight: 700;
}
.inner{
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
/* 애니메이션 */
.back-to-position{
  opacity: 0;
  transition-duration: 1s;
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1{
  transition-delay: 1s;
}
.show .back-to-position.delay-2{
  transition-delay: 1.8s;
}
.show .back-to-position.delay-3{
  transition-delay: 2.6s;
}
.show .back-to-position.delay-4{
  transition-delay: 3.4s;
}
.show .back-to-position.delay-5{
  transition-delay: 4.2s;
}
.guide_main .guide-group{
  width: 600px;
  height: 700px;
  border: 2px solid #000;
  background-color: #fff;
  position: absolute;
  bottom: 250px;
  left: 400px;
  display: none;
}
.guide_main .guide-group.active{
display: block;
}
.guide_main .guide-group.hide{
z-index: -1;
}

/* 해더 */
header{
  width: 100%;
  height: 200px;
  background-color: #fff;
  transition: height .3s;

  position: fixed;
  z-index: 2;
}
header .title_logo{
  text-align: center;
  padding : 10px 0;
}
header .main-menu {
  width: 100%;
  display: flex;
  justify-content: center;

}
header .main-menu .item .item__name {
  padding: 5px 0;
  margin: 0 35px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}
header .main-menu .item:hover .item__name {
  font-weight: 700;
  border-bottom: 2px solid black;
}
header nav .inner{
  display: flex;
}
header .main-menu .item .item__contents {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
header .main-menu .item .item__contents > ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
header .main-menu .item .item__contents > ul > li {
  width: 1200px;
}
header .main-menu .item .item__contents > ul > li h2 {
  padding-bottom: 10px;
  font-size: 18px;
  color: #000;
}
header .main-menu .item .item__contents > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #c2c2c2;
  cursor: pointer;
}
header .main-menu .item .item__contents > ul > li ul li:hover {
  font-weight: 700;
  color: #000;
}

/* 슬라이드 */
.promotion {
  padding-top: 150px;
  width: 100%;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: height .4s;
  align-items: center;
  justify-content: center;
}
.promotion.hide {
  height: 0;
}
.promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  text-align: center;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion img{
  width: 1910px;
  object-fit: cover;
}

/* 층 안내 */
/* 버튼 클릭시 나타나는 창 위치 나중에 바꾸기 */

.guide .inner{
padding: 200px 0;
position: relative;
}
.guide .guide_img{
  text-align: center;
}
.material-icons{
  font-size: 100px;
  color: #fff;
  cursor: pointer;
}

/* 1층 */
.guide .one-icons{
  position: absolute;
  left: 280px;
  bottom: 250px;
}

/* .guide .one_guide.active{
  display: block;
  z-index: 1;
} */
/* 2층 */
.guide .two-icons{
  position: absolute;
  right : 280px;
  bottom : 400px;
}
/* .guide .two_guide.active{
  display: block;
  z-index: 1;
} */
/* 3층 */
.guide .thr-icons{
  position: absolute;
  left : 280px;
  bottom : 550px;
}
/* .guide .thr_guide.active{
  display: block;
  z-index: 1;
} */
/* 4층 */
.guide .fou-icons{
  position: absolute;
  right : 280px;
  top : 400px;
}
/* .guide .fou_guide.active{
  display: block;
  z-index: 1;
} */
/* 5층 */
.guide .five-icons{
  position: absolute;
  left : 280px;
  top : 250px;
}
/* .guide .fiv_guide.active{
  display: block;
  z-index: 1;
} */


/* 브랜드 광고 */
.shop .inner{
  display: flex;
  z-index: -2;
  justify-content: space-between;
  margin-top: 100px;
}
.shop .left_item{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: -2;
}
.shop .left_item li:nth-child(even){
  padding: 450px 0 50px;
}


footer .inner{
  width: 100%;
  height: 300px;
  background-color:aqua;
}