/* 공통 스타일 */
a{
  color: black;
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
}
img{
  user-select: none;
}
.inner{
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
/* 애니메이션 */
.back-to-position{
  opacity: 0;
  transition-duration: 2s;
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
/* 층별 안내 */
.guide_main .guide-group{
  position: relative;
  width: 1000px;
  height: 700px;
  overflow: hidden;
  background-color: #fff;
  right: 130px;
  bottom: 50px;
  position: absolute;
  display: none;
}
.guide_main .guide-group img{
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 600px;
  object-fit: cover;
}
.icons-group{
  font-family: 'Headland One', serif;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
.icons-group{
  position: absolute;
  left: 50px;
}
.guide_main .guide-group.active{
  display: block;
}
.guide_main .guide-group.hide{
  display: none;
}
.guide .guide__list .text-group{
  padding: 20px;
}
.guide .guide__list h2{
  user-select: none;
  font-family: 'Headland One', serif;
  font-weight: 700;
  font-size: 30px;
}
.guide .guide__list p{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 22px;
  padding-top: 10px;
}

/* 해더 */
header{
  width: 100%;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.699);
  position: fixed;
  z-index: 2;
}
header .title_logo{
  text-align: center;
  padding : 30px 0;
}
header .title_logo h2{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 40px;
}
header .main-menu {
  /* width: 100%; */
  display: flex;
  justify-content: center;

}
header .main-menu .item .item__name {
  margin: 0 35px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}
header .main-menu .item:hover .item__name {
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
header .inner{
  width: 100%;
}
header .main-menu .item .item__contents {
  justify-content: center;
  background-color: #fff;
  position: fixed;
  padding : 10px;
  width: 100%;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
display: block;
}
header .main-menu .item .item__contents > ul {
  width: 1400px;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
header .main-menu .item .item__contents > ul > li h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 16px;
  color: #000;
}
header .main-menu .item .item__contents > ul > li ul li {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 6px 0;
  font-size: 13px;
  color: #8b8b8b;
  cursor: pointer;
}
header .main-menu .item .item__contents > ul > li ul li:hover {
  color: #000;
}

/* 슬라이드 */
.promotion {
  padding-top: 130px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  /* transition: height .4s; */
  align-items: center;
  justify-content: center;
}
/* .promotion.hide {
  height: 0;
} */
.promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  text-align: center;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion img{
  width: 1910px;
  height: 800px;
  object-fit: cover;
}

/* 층 안내 */
.guide .inner{
  padding: 200px 0;
}
.guide img{
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.guide .guide_main{
  position: relative;
}
.guide .one-icons{
  bottom: 80px;
}
.guide .two-icons{
  bottom : 230px;
}
.guide .thr-icons{
  bottom : 380px;
}
.guide .fou-icons{
  bottom : 530px;
}
.guide .five-icons{
  bottom : 680px;
}

/* 브랜드 광고 */
.shop .inner{
  width: 100%;
  display: flex;
  z-index: -2;
  justify-content: space-evenly;
  margin-top: 100px;
}
.shop .left_item{
  position: relative;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-right: 1px solid #00000021;
  padding-right: 130px;
  margin-left: 50px;
}
.shop .left_item .img1, .img4, .img5, .img8, .img9{
  width: 350px;
  height: 400px;
  object-fit: cover;
}
.shop .left_item .img2, .img3, .img6, .img7, .img10{
  width: 350px;
  height: 350px;
  border-radius: 170px;
  object-fit: cover;
}
.shop .left_item li:nth-child(even){
  margin-top: 200px;
}
.shop .rigth_item{
  position: relative;
  height: 3000px;
}
.shop .rigth_item li{
  position: sticky;
  height: 850px;
  top: 130px;
}
.shop .rigth_item img{
  width: 500px;
  height: 800px;
  object-fit: cover;
}


footer .inner{
  margin-top: 100px;
  width: 100%;
}
footer .inner .text_top{
  height: 80px;
  background-color: rgb(54, 54, 54);
}
footer .inner .text_bottom{
  background-color: rgba(207, 207, 207, 0.336);
  height: 200px;
}